/* UserRegistration.css */

.registration-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(pink, white, pink);
}

.welcome-section {
    background-color: #ff758c;
    color: white;
    width: 20%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.welcome-content h1 {
    font-size: 2.5rem;
}

.welcome-content p {
    font-size: 1.2rem;
}

.form-section {
    background-color: white;
    display: flex;
    padding: 70px;
    justify-content: center;
}

.form-container {
    width: 80%;
    max-width: 600px;
}

.registration-form .form-group {
    position: relative;
}

.registration-form .form-control {
    border: none;
    border-bottom: 1px solid #ff7eb3;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    background: none;
}

.registration-form .form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #ff7eb3;
}

.registration-form .form-control::placeholder {
    color: #5a5858;
}

.registration-form .text-danger {
    position: absolute;
    bottom: -20px;
    left: 0;
}

.btn-primary1 {
    width:50px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    border: none;
}
