@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: pink;
}

.form-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-control-with-icon {
    padding-left: 40px;
}